 .bgimg {
    background-image: url("https://thumbs.dreamstime.com/z/assorted-indian-food-dark-wooden-background-dishes-cuisine-curry-butter-chicken-rice-lentils-paneer-samosa-naan-88512791.jpg");
    height:138vh;
    background-size:cover;
 }
 .snackhead {
   text-align:center;
    color:darkgreen;
    font-family: fantasy;
    font-size: 70px;
    font-weight: 100;
    padding: 20px;
 }
 .layoutcard {
    background-color:gray;
    border-radius: 8px;
    padding: 18px;
    margin: 20px;
 }
 .brandscont {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
 }
 .brandspara {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
 }
 .brandimg {
    width: 80px;
    height: 100px;
 }